.mat-card {
  background: #ffff;
  color: black;
}

.a2{
  border-left-width: 4px !important;
  border-radius: 35px;
margin-top: 15px;
border-radius: 25px;
border-left: 1px solid transparent;}


.imageClass2 {
  width: 54%;
  height: 155%;
  position: absolute;
  padding-top: -23px;
  top: -7px;
  left: 56px;
   // left: 312px;
}
