.mat-card {
  background: #ffff;
  color: black;
}

.a2{
  border-left-width: 4px !important;
  border-radius: 35px;
margin-top: 15px;
border-radius: 25px;
border-left: 1px solid transparent;}


.imageClass2 {
  width: 54%;
  height: 155%;
  position: absolute;
  padding-top: -23px;
  left: 56px;
   // left: 312px;
   top: 1px;
    left: 56px;
    border: 1px solid #a09191;
    border-radius: 12px;
}


.mybtn {
  border-radius: 23px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  color: red;
}

.mat-step-label.mat-step-label-active.mat-step-label-selected:active{
  color: blue;
}

modal {
  /* modals are hidden by default */
 display: none ;

  .modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;
      display:block;

      .modal-body {
          padding: 20px;
          background: #fff;
          /* margin exposes part of the modal background */
          margin: 40px;
          width: 500px;
          /* height: 500px; */
          margin-left: 462px;
          margin-top: 194px;

      }
  }


  .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;

      /* z-index must be below .modal and above everything else  */
      z-index: 900;
  }
}


.alertMessage {
  cursor: pointer;
    text-decoration: underline;
}
