<div *ngIf="productJson.length ==0" class="mt-10">
  <div class="alert alert-primary" role="alert">
    No Products are Available
  </div>
</div>

<div class="col-md-12" *ngIf="productJson.length ==0">
  <mat-card class="cardwholesaler mt-3">
    Add More Products
    <i class="arrow right mt-2"></i>
  </mat-card>
</div>


<div class="col-md-12" *ngIf="productJson.length !==0">
  <div class="row">

    <div class="col-md-11 mt-3">

      <div class="col-md-12">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-8 ml-5"><b>My Cart ({{productJson.length}} Items</b>)</div>
                  <div class="col-md-3"><b>Total: </b></div>
              </div>

              <div class="row mt-5" style="font-size: 13px;">
                <div class="col-md-2"></div>
                <div class="col-md-3">Product Name/Code/Pack</div>
                <div class="col-md-2">Quantity</div>
                <div class="col-md-2">Delivary Date</div>
                <div class="col-md-1">Net price</div>
                <div class="col-md-1">Delivered</div>
              </div>
              <div class="col-md-12 mt-1" *ngFor="let productJson of productJson;let i=index">
                <div class="col-md-12">
                  <mat-card class="a2"  [ngStyle]="{'border-left-color':productJson.color}">
                    <div class="row">
                      <div class="col-md-2"> <img style="width:100px;height: 100px;"
                          src="https://cdn.pixabay.com/photo/2015/11/06/15/13/internet-1028794__340.jpg"></div>
                      <div class="col-md-3">Handel 1</div>
                      <div class="col-md-2"><input type="text" class="form-control" [(ngModel)]="quantity"  mdbInput></div>
                        <div class="col-md-2">{{date}}</div>
                        <div class="col-md-1"> 200$</div>
                        <div class="col-md-1">{{productJson.delivered}}</div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div style="cursor: pointer;    float: right !important;"
                          (click)="removeItems(productJson,i)">
                          Cancel
                        </div>
                      </div>

                    </div>
                  </mat-card>
                </div>
              </div>
              <div class="col-md-12">
                <mat-card class="cardwholesaler mt-3">
                  Add More Products
                  <i class="arrow right mt-2"></i>
                </mat-card>
              </div>

            </div>
      </div>

    </div>

  </div>

</div>
