
<div class="row">
  <div class="col-md-3">
    <div class="list-group" *ngFor="let item of bomHeaderDetails?.headerMasterlist; let i = index">
      <a class="list-group-item" [ngClass]="{active:selectedTab===item.bomType}" (click)="getClickHeaders(item.bomId,item.bomType)">{{item.bomType}}</a>
    </div>
  </div>
  <div class="col-md-6" *ngIf="bomHeaderDetails?.headerMasterlist">
    <div>
      <h4>custmise cycle</h4>
    </div>
    <div *ngIf="this.imageUrls.length<1">
        <img src="https://www.sccpre.cat/mypng/full/167-1673331_bicycle-bike-cycle-old-transport-transportation-old-bicycle.png" class="imageClass" />
    </div>

  </div>


  <div class="col-md-3">
    <div class="list-group" *ngFor="let item of bomHeaderDetails?.headerMasterlist; let i = index">
      <div *ngFor="let orderDetails of item?.listDetails; let j= index">
        <div *ngIf="orderDetails.bomId == myvalue">
          <div class="list-group-item">
            <label>
              <div class="custom-control custom-radio" style="z-index: 99999999">
                <input type="radio" style="z-index: 99999999" (change)="getOrderVal(item,orderDetails,orderDetails.imageUrl,orderDetails.detailId,j)" name="{{orderDetails.materialDesc + i}}"
                  [checked]="orderDetails.order ? orderDetails.order : false" />
                  <label>
                      {{orderDetails.materialDesc}}
                      <!-- <img [src]="orderDetails.imageUrl" class="imageClass" /> -->
                    </label>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button  class="btn-success" style="margin-left: 47px;" *ngIf="orderFlag" (click)="submitBomHeaders()">Submit</button>
  <div>
      <label *ngIf="this.imageUrls?.length">
            <div *ngFor="let imageUrls of this.imageUrls">
                <img class="imageClass2" [src]="imageUrls.imageUrl"/>
              </div>
      </label>
    </div>
</div>

