.imageClass{
  width: 100%;
  height:100%;
}

.active {
  color: red;
}

.list-group-item:hover {
  background-color: aliceblue;
}

.leftSideList {
  position: absolute;
  top: 0px;
  left: 0px;
  float: right;
  margin-left: 159%;
}


.imageClass2 {
  width: 61%;
    height: 83%;
    position: absolute;
    padding-top: -19px;
    top: 4px;
    left: 286px;
}



modal {
  /* modals are hidden by default */
 display: none ;

  .modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;
      display:block;

      .modal-body {
          padding: 20px;
          background: #fff;
          /* margin exposes part of the modal background */
          margin: 40px;
          width: 500px;
          /* height: 500px; */
          margin-left: 462px;
          margin-top: 194px;

      }
  }


  .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;

      /* z-index must be below .modal and above everything else  */
      z-index: 900;
  }
}

.btnButtons {
  border-radius: 25px;
}
