
<div class="subHeader col-md-12">
<span class="">
</span>
<div class="sample"style="z-index: 10;">
    <div class="productListSubHeader">

      <span class="mr-4 cursor" [ngClass]="{active:selectedTab=='AllProducts'}" (click)="navigationClick('AllProducts')">
        All Products
      </span>
      <span class=" mr-5 cursor" [ngClass]="{active:selectedTab=='Cycle'}" (click)="navigationClick('Cycle')">
          Cycle
        </span>
        <span class="mr-5 cursor" [ngClass]="{active:selectedTab=='Bike'}" (click)="navigationClick('Bike')">
            Bike
          </span>

          <span class="mr-4 cursor" [ngClass]="{active:selectedTab=='Car'}" (click)="navigationClick('Car')">
              Car
            </span>
      </div>

</div>
<span class=""></span>
</div>

<div class="col-md-12" style="padding-top: 50px;">
  <app-bicycle *ngIf="selectedTab=='Cycle'"></app-bicycle>
  <app-allproducts *ngIf="selectedTab=='AllProducts'"></app-allproducts>
</div>




